<h2>Привет, {{ name }}!</h2>
<p>Для подтверждения регистрации на {{ site }} нажми по ссылке:</p>
<p>
  <a href="{{ url }}">Подтвердить регистрацию</a>
</p>

<p>Если ты не проходил(а) процедуру регистрации на {{ site }}, это письмо можно смело игнорировать.</p>
